@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="container">
    <div id="app" v-cloak>
        <h5>Marcas e Modelos populares:</h5>
        <!-- Vue.JS App -->
        <div class="card-deck p-3" v-for="deck in decks">
            <div class="card" v-for="marca in marcasPopulares.slice(deck.start, deck.end)">
                <div class="card-header text-white bg-secondary">
                    {{ marca.nome }}
                </div>
                <ul v-for="modelo in marca.modelo.slice(0,5)" class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a :href="'' + modelo.friendlyUrl">{{ modelo.nome.substring(0,30) }}</a>
                        <span class="badge badge-secondary float-right">{{ pegaQuantidade(modelo.id) }} Peça(s)</span>
                    </li>
                </ul>
                <div class="card-footer">
                    <small class="text-muted"><a :href="'' + marca.friendlyUrl">Ver Todos os Modelos da {{ marca.nome }}</a></small>
                </div>
            </div>
        </div>
        <!-- Vue.JS App -->
    </div>
</div>

@section Scripts
{
    <script src="~/js/index.vue.js" asp-append-version="true"></script>
}