@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Não nos responsabilizamos pelas instruções colocadas no site listando peças alternativas e nem pelo resultado dos ajustes feitos. 
   Essa é apenas uma ferramenta colaborativa, onde os usuários proprietários de motos cadastram sugestões de peças alternativas.</p>
